header {
  color: white;
  background-color: #5d04d9;
  padding: 10px 0px;
  box-shadow: 0 0 5px black;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;

  height: 50vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
  }
}

.my__products {
  padding: 0px 8px;
  width: 60%;
}

.my__products__container {
  height: 100%;
  overflow: hidden;
  box-shadow: -7px 6px 4px -3px rgba(0, 0, 0, 0.36);
  padding: 8px 4px;
}

.products__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90%;
  gap: 8px;
  row-gap: 42px;

  overflow: auto;
  padding: 8px 0px;
}

.card {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #5d04d9;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.54);
  padding: 4px;
  color: white;
  width: 100px;
  align-items: center;

  img {
    border: 1px solid black;
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: 8px;
  }

  h3 {
    font-size: 8px;
  }
  p {
    font-size: 12px;
  }
}

.card__container__info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}

.card__container__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__delete {
  transform: scale(0.8);
  border: none;
  background-color: transparent;
  color: white;
}

.btn__delete:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s ease-out;
}

.add__product {
  width: 40%;
}

#product__form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 4px;
  border-radius: 100px;
}

.form__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.btn__submit {
  flex: 1;
  border: none;
  background-color: #03318c;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.btn__submit:hover,
.btn__clean:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s ease-out;
}

.btn__submit:active,
.btn__clean:active {
  transform: scale(0.9);
  opacity: 0.7;
}

.btn__clean {
  flex: 1;
  border: 2px solid #03318c;
  background-color: #f3f5fc;
  color: #03318c;
  padding: 8px;
  border-radius: 4px;
}

footer {
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
  background-color: #5d04d9;
  padding: 8px 0px;
  box-shadow: 0 0 5px black;
}

footer p {
  opacity: 0.5;
  font-weight: 100;
  font-size: 12px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  display: none;
}

.input-error {
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    padding: 16px;
    gap: 8px;
    justify-content: space-between;
    height: fit-content;
  }

  .my__products {
    height: 70%;
    width: 100%;
  }

  .my__products__container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 8px;
  }

  .products__container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    overflow: auto;
    align-content: center;
    justify-content: flex-start;
    height: min-content;
    padding: 10px;
    row-gap: 8px;
    column-gap: 12px;
  }

  .add__product {
    width: 50%;
  }

  #product__form {
    width: 100%;
  }
}
